name: cover
description: A simple and efficient tool for comprehensive code coverage analysis.
version: 0.0.4
repository: https://github.com/aosorio-avilez/cover

environment:
  sdk: ^3.0.0

dependencies:
  args: ^2.4.1
  cli_completion: ^0.3.0
  lcov_parser: ^0.1.2
  dart_console: ^1.2.0
  pubspec_parse: ^1.2.3

dev_dependencies:
  very_good_analysis: ^4.0.0+1
  test: ^1.21.0
  mocktail: ^0.3.0

executables:
  cover:
