name: cover
description: A simple and efficient tool for comprehensive code coverage analysis.
version: 0.1.0
repository: https://github.com/aosorio-avilez/cover

environment:
  sdk: ^3.0.0

dependencies:
  args: ^2.7.0
  cli_completion: ^0.5.1
  dart_console: ^4.1.2
  lcov_parser: ^0.1.2
  path: ^1.9.1
  pubspec_parse: ^1.5.0

dev_dependencies:
  very_good_analysis: ^10.0.0
  test: ^1.28.0
  mocktail: ^1.0.4

executables:
  cover:
